*{
	/*background-image:url("imagem-de-fundo.jpg");
	background-repeat: repeat-x;*/
}
/*******************TITULOS**********************/
body{
	margin: 30px;
	padding: 5px;
	font-family: "time new roman", times,  serif;
}
h1{	
	padding-left: 10px;
	border:5px solid;
	border-color:lightblue lightpink lightgreen; 
	color:mediumseagreen;
	width:50%;
	background: lightyellow;
	text-shadow:2px 2px grey;
}	
h2{
	background: transparent;
	color:slateblue;
	text-shadow:2px 2px 5px grey;
}
p{
	text-indent: 4em;
	text-align: justify;
	letter-spacing: 2px;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration: underline;
	text-transform:uppercase;
}

